:root {
  --system-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.title {
  font-family: var(--system-fonts);
  font-weight: bolder;
  font-size: 3.75rem;
  padding: 2.5 2.5 2.5 0rem;
  color: #212529;
}

.subtitle1 {
  color: #212529;
  font-family: var(--system-fonts);
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 2.5rem;
}

.subtitle2 {
  font-family: var(--system-fonts);
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
  color: #212529;
  text-align: left;
}

@media (min-width: 768px) {
  .container {
    margin: 2rem;
    margin-bottom: 8rem;
  }

  .title {
    font-size: 6rem;
    padding: 4 rem;
  }

  .subtitle1 {
    font-size: 3.5rem;
  }

  .subtitle2 {
    margin-bottom: 0;
  }
}
