.link {
  font-family: var(--system-fonts);
  font-size: 1rem;
  padding: 1rem 0;
  color: var(--primary-dark);
  text-decoration: none;
  transition: color 0.3s linear;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-light);
  border-radius: 8px;
  opacity: 0.88;
  height: 20vh;
  justify-content: center;
  margin-top: 9vh;
  padding: 2rem;
  position: fixed;
  right: 0;
  transition: transform 0.4s ease-in-out;
  z-index: 10;
  width: 100vw;
  border: 1.5px solid #d3d3d3;
}

.menuOpen {
  transform: translateX(0);
}

.menuClosed {
  transform: translateX(100%);
}

@media (min-width: 768px) {
  .menu {
    width: 20vw;
  }
}
