.nameAndMenuContainer {
  display: flex;
  margin: 0.5rem;
  justify-content: flex-end;
}

.hrLine {
  border-top: 1px solid lightgrey;
}

.navBarWrapper {
  display: flex;
  flex-direction: column;
}

.link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  color: var(--primary-dark);
  text-decoration: none;
  transition: color 0.3s linear;
}

.linksWrapper {
  display: none;
}

@media (min-width: 768px) {
  .linksWrapper {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    margin: 1rem;
  }
}
