@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.carouselContainer {
  display: grid;
  gap: 1rem;
  max-width: 100%;
  grid-template-columns: 1fr;
  margin-top: 2rem;
  margin: auto;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 0;
  border-radius: 8px;
  margin: auto;
  max-width: 300px;
  overflow: hidden;
  cursor: pointer;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  min-height: 0;
  padding: 0 1rem;
}

.cardSubtitle {
  font-size: 0.9rem;
  color: #666;
  padding: 0 0.5rem 0 0;
  margin: 0.5rem 0;
}

.cardImage {
  width: 92%;
  height: 425px;
}

.viewLink {
  display: block;
  margin-top: 1rem;
  color: #007bff;
  text-decoration: none;
}

.viewLink:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .carouselContainer {
    grid-template-columns: repeat(2, 1fr);
    place-items: unset;
    padding-left: 2rem;
  }

  .card {
    margin: 0 1rem;
  }
}

@media (min-width: 1024px) {
  .carouselContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
