.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 11;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.burger:focus {
  outline: none;
}

.burgerLine {
  width: 2rem;
  height: 0.25rem;
  background: var(--primary-dark);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.burger.open .burgerLine:nth-child(1) {
  transform: rotate(45deg);
}

.burger.open .burgerLine:nth-child(2) {
  opacity: 0;
}

.burger.open .burgerLine:nth-child(3) {
  transform: rotate(-45deg);
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}
